/* Mobile First */

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #191919;
  color: white;
}


.banner {
  height:  90vh;
  background: linear-gradient(rgba(16, 16, 16, 0.541), rgba(17, 17, 17, 0.5)), url("/assets/images/body-main/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .banner-text {
    color: var(--gray-letter);
    padding: 20px 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    align-items: center;
    
  }

  & h1 {
    font-size: 2.3rem;
    animation: fadeIn 3s;
  }

  & p {
    text-align: center;
    font-size: 1.3rem;
    animation: fadeIn 5s;
  }
}

.services-section {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  flex-wrap: wrap;
  background-color: #191919;
  color: var(--gray-letter);

  & h2 {
    font-size: 2rem;
  }
}

.services-container {

  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
  gap: 1.5rem;
  justify-content: center;
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;
  background-color: #191919;
  box-shadow: rgba(8, 8, 8, 0.911) 0px 3px 8px;
  padding: 20px;
  gap: 12px;

  & img {
    width: 25%;
  }

  & h3 {
    font-weight:900;
    font-size: 1rem;
    margin-bottom: 0.75rem;
  }
}

.about-section {
  background-color: #131313;
  color: var(--gray-letter);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 40px 20px;

  & h2 {
    font-size: 2rem;
    font-weight: 900;
  }
}

.about-text {
  padding: 14px;
  line-height: 25px;
  text-align: justify;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
 /* TABLET */


}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* DESKTOP */
 
 
 }




/* main {
  padding: 20px 0;
  background-color: var(--background-gray-color);
}

.image-and-text { 
  
  font-family: var(--font-titulo-services);
  background: linear-gradient(rgb(16, 16, 16, 0.5), rgba(17, 17, 17, 0.5)), url("/assets/images/body-main/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  flex-wrap: wrap;
  padding: 40px;
  & h1 {
    font-size: 70px;
  }

  & p {

    width: 50%;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}

.servicos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  & h2 {
    font-family: var(--font-titulo-servicos);
    color: var(--letters-gray-color);
    font-weight: 200;
    font-size: 2rem;
  }
}

.servicos-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  column-gap: 2rem;
  width: 100%;
  row-gap: 2rem;
  margin-top: 2rem;
}


.servicos-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-titulo-servicos);
  gap: 10px;
  & span {
    font-weight: 400;
    font-size: 0.8rem; 
    color: var(--letters-gray-color);
  }
}

#circle {
  background:#f1cd30;
  border-radius: 50%;
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
     position: absolute;
     width: 70%;
  }
}

.sobre-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-card {
  width: 35%;
  padding: 16px;
  line-height: 20px;
} */

/* ANIMATION */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}