* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
  
:root {
    --cor-speacial: #f1cd30;
    --background-gray-color: #f7f0f0;
    --font-titulo-servicos : 'Patua One', serif;
    --letters-gray-color: #444444;
}


