* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
:root {
    --cor-speacial: #f1cd30;
    --gray-letter: #f7f0f0;
    --font-titulo-servicos : 'Patua One', serif;
    --letters-gray-color: #444444;
}


