main {
  padding: 20px 0;
  background-color: var(--background-gray-color);
}

.servicos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  & h2 {
    font-family: var(--font-titulo-servicos);
    color: var(--letters-gray-color);
    font-weight: 200;
    font-size: 2rem;
  }
}

.servicos-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
  column-gap: 2rem;
  width: 100%;
  row-gap: 2rem;
  margin-top: 2rem;
}


.servicos-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-titulo-servicos);
  gap: 10px;
  & span {
    font-weight: 400;
    font-size: 0.8rem; 
    color: var(--letters-gray-color);
  }
}

#circle {
  background:#f1cd30;
  border-radius: 50%;
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
     position: absolute;
     width: 70%;
  }
}

.sobre-section {
display: flex;
flex-direction: column;
align-items: center;
}

.sobre-card {
width: 35%;
padding: 16px;
line-height: 20px;
}